$Pale_blue: hsl(225, 100%, 94%);
$Bright_blue: hsl(245, 75%, 52%);

$Very_pale_blue: hsl(225, 100%, 98%);
$soft_pale_blue: hsl(222, 60%, 96%);
$Desaturated_blue: hsl(224, 23%, 55%);
$Dark_blue: hsl(223, 47%, 23%);
